<!DOCTYPE html>
<html>
<head>
    <title>Contoh Halaman Web dengan Gambar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1, h2, h3 {
            color: red; 
            text-align: center;
        }

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }

        table {
            border-collapse: collapse;
            width: 30%;
            border: 2px solid red; 
            align: center;
            text-align: left;
            padding: 10px;
            padding-right: 20px;
        }

        th, td {
            border: 1px solid red; 
            padding: 10px;
            text-align: center;
            padding-right: 20px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            text-align: center;
        }

        img {
            width: 30%; 
            display: block;
            margin: 0 auto; 
        }
        
        form {
            text-align: center;
            margin: 0 auto;
            max-width: 300px;
        }
        input[type="button"] {
            background-color: #333;
            color: #fff;
            cursor: pointer;
        }

        input[type="button"]:hover {
            background-color: #555;
        }
    </style>
</head>
</html>