body{
    text-align: center;
    background-color:rgb(194, 71, 71);
}
table{
    border-color:aqua;
    text-align: center;
    color:rgb(233, 220, 203);
}
h1{
    color: rgb(54, 51, 46);
}
h2{
    color:rgb(54, 51, 46);
}
p{
    color: rgb(214, 197, 177);
    text-align: center;
}
.box{
    width: 350px;
    height: 250px;
    background-color: rgb(198, 201, 235);
}